p {
    font-family: maqueFont;
}

#carritoBold {

    font-weight: 600
}


/*Productos del Carrito*/
#product-container {
    font-family: maqueFont;
    background-color: #EFECEA;
    padding-left: 35px;
    padding-right: 35px;
}

.cart-page {

    margin: auto;


}

/*Tabla general*/
table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding-left: 15px;
    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 10px;

    color: #030303;
    font-weight: bold;
}

td {

    padding: 25px;


}

.product-content {
    border-bottom: 3px solid #EFECEA;
    background-color: rgb(255, 255, 255);

}


td input {
    width: 40px;
    height: 30px;
    padding: 4px;
}

td a {
    color: rgb(117, 81, 57);
    font-size: small;
}

td img {
    width: 90px;
    height: 90px;
    margin-right: 10px;
}

#total-price-separation {
    padding: 5px;
}

.total-price {
    font-family: 'IMB Plex Sans', sans-serif;
    display: flex;
    justify-content: flex-end;
}

.total-price table {

    width: 100%;
    max-width: 380px;

}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

#proceder-pago {

    color: #ffffff;
    border: none;
    background-color: #7A6852;
    height: 40px;
    width: 100%;
    max-width: 350px;
}

/*---Media query styles---*/
@media only screen and (max-width: 600px) {
    .cart-info p {
        display: none;
    }
    #product-container {
        
        padding-left: 0px;
        padding-right: 0px;
    }
}




/***********************************/