#carritoBold{
    
  font-weight:600
}

.container{
  font-family: 'IMB Plex Sans', sans-serif;

}

#estado{
  border-radius: 0%;
}
#estados-pago{
  border-radius: 0%;
}
#resumen-carrito{
  border-radius: 0%;
}



.form-control{
  border-radius: 0%;
}

#proceder-pago{

  color: #ffffff;
  border: none;
  background-color: #7A6852;
  height: 40px;
  width: 100%;
  max-width: 350px;
}

#cont-resumen{
  background-color: #EFECEA;
  padding: 30px;
}