#carritoBold{
    
  font-weight:600
}

.container{
  font-family: maqueFont;

}

#estado{
  border-radius: 0%;
}
#estados-pago{
  border-radius: 0%;
}
#resumen-carrito{
  border-radius: 0%;
}



.form-control{
  border-radius: 0%;
}
.boton{

  color: #ffffff;
  border: none;
  background-color: #7A6852;
  height: 40px;
  width: 100%;
  max-width: 350px;
}
.boton{

  color: #ffffff;
  border: none;
  background-color: #7A6852;
  height: 40px;
  width: 100%;
  max-width: 350px;
}

#cont-resumen{
  background-color: #EFECEA;
  padding: 30px;
}

/***********Estilos para validacion ************/
.form-valid{
  color: #108d21;
  opacity: 1;
}

.form-invalid{
  color: #bb2929;
  opacity: 1;
}

.form-login-error{
  display: none;
  font-size: small;
}

.form-login-error-activo{
  display:block;
}