.barra-categorias {
    background-color: #D9CDC1;
    padding: 10px 20px;
    margin: 20px 154px;
    position: relative;
    z-index: 1;
    /* Para que la barra de categorías se muestre por encima del resto de elementos */
}

.barra-categorias:before,
.barra-categorias:after {
    content: "";
    display: table;
    /* Para que el elemento se comporte como un elemento de bloque */
}

.barra-categorias:after {
    clear: both;
}

.barra-categorias ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.barra-categorias li {
    margin-right: 20px;
}

.barra-categorias li:last-child {
    margin-right: 0;
}

.barra-categorias ul li a {
    color: #000;
    /* Para hacer el texto negro */
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

.barra-categorias ul li:first-child a {
    font-size: 40px;
    font-weight: bold;
}

.barra-categorias ul li a {
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    /* Relleno interno de cada elemento de la lista */
    transition: background-color 0.3s ease;
    /* Agregar una transición suave al color de fondo */
}


.barra-categorias {
    border-radius: 10px;
    /* Radio de curvatura de las esquinas */
    overflow: hidden;
    /* Ocultar cualquier contenido que se desborde de la barra */
}

.barra-categorias ul {
    display: flex;
    /* Hacer que la lista sea un contenedor flexible */
    justify-content: space-between;
    /* Distribuir los elementos con espacio entre ellos */
    align-items: center;
    /* Centrar verticalmente los elementos en la barra */
    margin: 8 154px;
    /* Margen a izquierda y derecha */
}

.barra-categorias ul li:first-child a {
    font-size: 20px;
    font-weight: bold;
}

.barra-categorias .categoria-productos ul li a {
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    /* Relleno interno de cada elemento de la lista */
    transition: background-color 0.3s ease;
    /* Agregar una transición suave al color de fondo */
}

.barra-categorias ul li a:hover {
    background-color: #eee;
    /* Cambiar el color de fondo cuando el usuario pasa el cursor sobre el elemento */
}

/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
    .barra-categorias {
        margin: 20px 20px;
        /* Reducir el margen a izquierda y derecha a 20px */
    }

    .barra-categorias ul {
        flex-wrap: wrap;
        /* Permitir que los elementos de la lista se envuelvan en varias filas */
    }

    .barra-categorias ul li {
        width: 100%;
        /* Hacer que los elementos de la lista ocupen todo el ancho de la barra */
        margin-bottom: 10px;
        /* Agregar un margen inferior de 10px para separar las filas */
    }
}

@media (max-width: 767px) {

    .barra-categorias ul {
        display: none;
        /* Ocultar los elementos de la lista en dispositivos móviles */
    }

    .barra-categorias .menu-hamburguesa {
        display: block;
        /* Mostrar el icono de la hamburguesa en dispositivos móviles */
    }

    .barra-categorias .menu-hamburguesa i {
        font-size: 24px;
        color: #000;
    }

    .barra-categorias ul {
        display: none;
        /* Ocultar los elementos de la lista en dispositivos móviles */
    }

    .barra-categorias .menu-hamburguesa {
        display: block;
        /* Mostrar el icono de la hamburguesa en dispositivos móviles */
    }

    .barra-categorias .menu-hamburguesa i {
        font-size: 24px;
        color: #000;
    }
}

@media (min-width: 768px) {
    .barra-categorias .menu-hamburguesa {
        display: none;
    }

}

.barra-categorias .categoria-productos a {
    font-size: 29px;
    /* Cambiar el valor del tamaño de fuente según sea necesario */
    font-weight: bold;
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 768px) {
    .barra-categorias {
        padding: 35px;
    }

    .barra-categorias .icono-menu {
        display: block;
    }

    .barra-categorias .categoria-productos {
        display: none;
    }
}

/* Mostrar la lista de categorías cuando se hace clic en el botón de hamburguesa */
.barra-categorias ul.mostrar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    margin: 0 20px;
    background-color: #f2f2f2;
}

.view-mode {
    text-align: right;
}

.btn-toggle {
    display: inline-block;
    padding: 10px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-toggle.active {
    background-color: #333;
    color: #f2f2f2f2;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 9999;
}

.product-card {
    width: 300px;
    margin-bottom: 30px;
    background-color: #f2f2f2;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.product-card img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 4px 4px 0 0;
}

.product-card h2 {
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

.product-card p {
    margin: 10px;
    font-size: 14px;
}

.product-card .price {
    display: block;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
}

.menu-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 154px;
    float: right;
    margin: 5px 154px;
    z-index: 9999;
}

/* Estilos para pantallas pequeñas */
/*Categoria*/
.sidebar {
    width: 15%;
    padding: 20px;
    background-color: #f2f2f2;
    margin: 0 154px;
    margin-top: 70px;
}

.sidebar h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: bold;
}

.category {
    font-weight: bold;
    list-style: none;
    margin-left: 0;
}

.subcategory {
    font-weight: normal;
    list-style: disc;
}

.categories {
    margin: 0;
    padding: 0;
    list-style: none;
}

.category a {
    text-decoration: none;
    color: black;
}

/* Reglas de estilo para pantallas pequeñas */
@media screen and (max-width: 767px) {
    .sidebar {
        width: 100%;
        padding: 10px;
    }
}

/*Productos*/
.product-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    left: 100%;
    float: right !important;
    clear: both;
    height: 230px;
    width: 900px;
    background-color: #F2F2F2;
}

.product-info {
    flex-grow: 1;
    padding-right: 10px;
}

.product-title {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}

.product-categories {
    margin: 0;
    padding: 0;
    list-style: none;
}

.product-categories li {
    margin-right: 10px;
    font-size: 16px;
    color: #999;
}

.product-image {
    width: 40%;
    text-align: center;
}

.product-image img {
    max-width: 100%;
    height: auto;
}

.precio {
    margin-top: 10px;
}

.add-to-cart {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    margin-top: 10px;
    position: relative;
}

.main-container {
    margin-top: -280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 260px;
}

/*toolbar navegacion*/
#toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
}

#toolbar button {
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#toolbar button.active {
    background-color: #ddd;
}

#toolbar button i {
    font-size: 20px;
}