/* Estilos de la sección Acerca De */
#acerca-de {
  
  font-family: maqueFont;
}

#acerca-de h2 {
  color: #736151;
}

/* Estilos de la sección Contacto */
#contacto {
  background-color: #cfd2c6;
  font-family: maqueFont;
  font-size: 15px;
  color: rgb(40, 39, 39) !important;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-width: 0px;


}

#contacto h2 {
  color: #736151;
}

#contacto label {
  color: #8C7E72;
}

#contacto input[type="text"],
#contacto input[type="email"],
#contacto input[type="tel"],
#contacto textarea {
  border: none;
  
  border-radius: 0px;
  padding: 10px;
  color: #736151;
  margin-bottom: 10px;
  border-bottom-left-radius: 10px !important;
  border-top-right-radius: 10px !important;
}



#contacto button[type="submit"] {
  background-color: #95826f;
  color: #F2F2F2;
  border: none;
  padding: 10px 20px;
  border-end-end-radius: 0 !important;
  border-top-left-radius: 0 !important;

}

.form-select {
  font-family: maqueFont;
  border: opx solid rgba(255, 255, 255, 0);
  border-radius: 0px;
  background-color: #ffffff;
  -ms-text-size-adjust: auto;
  border-end-end-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

form {
  border-radius: 0;

}

.bg-body-tertiary {
  background-color: #D9CCC1;
}


.img-text {
  background-size: cover;
  background-position: center;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#bg-parrafo1 {
  color: rgb(60, 49, 37) !important;
  font-size: 20px;
  padding: 30px;
  background-color: rgba(194, 185, 185, 0.457);
}

#bg-parrafo2 {
  color: rgb(60, 49, 37) !important;
  font-size: 20px;
  padding: 30px;
  background-color: rgba(194, 185, 185, 0.457);
}

.container,
.form-control,
.form-select,
.btn {
  border-radius: 10px;

}

#bg-parrafo3,
h2,
label,
option,
.btn {
  font-family: "maqueFont";
}

.foto1 {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.foto2 {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.nosotros {
  background-color: #cfd2c6;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-width: 0px;
}

.nuestra-historia {
  background-color: #eddee0;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 0px;
  border-width: 0px;
}

@media (max-width: 770px) {
  .foto1 {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .foto2 {
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  
  .nosotros {
    background-color: #cfd2c6;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-width: 0px;
  }
  
  .nuestra-historia {
    background-color: #eddee0;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 0px;
    border-width: 0px;
  }
}

#boton-inicio {
  background-color: #95826f;
  color: #F2F2F2;
  border: none;
  padding: 10px 20px;
  border-end-end-radius: 0 !important;
  border-top-left-radius: 0 !important;
}

#boton-inicio:hover {
  background-color: #cfd2c6;
}

#contacto button:hover {
  background-color: #eddee0; 
}

