@font-face{
    font-family: maqueFont;
    src:url(../assets/fonts/Gotham_Book_Font.otf)
}

#Logo-navbar {
    width: 200px;
}

.navbar-custom {
    background-color: #ae9e8f !important;
}

.nav-font {
    font-style: normal;
    color: #FFFFFF !important;
    font-family: maqueFont;
}

.dropdown-item-custom{
    font-style: normal;
    color: #463f3a !important;
    font-family: maqueFont;
    border-end-end-radius: 0 !important;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 100 !important;
    background-color: rgba(174, 158, 143, 0.5);
}

.form-custom {
    border-end-end-radius: 0 !important;
    border-top-left-radius: 0 !important;
    font-family: maqueFont;
}


.btn-custom {
    border-end-end-radius: 0 !important;
    border-top-left-radius: 0 !important;
    font-family: maqueFont;
}

/*footer*/

footer {
    background-color: #8C7E73;
    color: #fff;
    padding: 3px;
    font-family: maqueFont;
    font-size: 10px;
}

footer .container-fluid {
    font-family: maqueFont;
    font-size: 15px;
}


footer .col-sm-2 a.navbar-brand img#Logo-navbar {
    display: block;
    margin: 0;
    padding: 0;
}

/* @media (max-width: 768px) {
    footer .row {
        margin-bottom: 10px;
    }

    footer .col-sm-6 {
        font-size: 14px;
    }
} */

.social-icons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.social-icons img {
    width: 25px;
    height: 25px;
}

.texto-img {
    margin-top: 10px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer {
    font-size: 14px;
}

footer p {
    font-size: 12px;
}

@media only screen and (max-width: 767px) {

    /* Ocultar elementos con la clase .hide-on-mobile en la vista móvil */
    .hide-on-mobile {
        display: none;
    }
}

@media (max-width: 768px) {
    footer {
        text-align: center;
    }

    .social-icons {
        justify-content: center;
        margin-top: 5px;
    }
}

.cart-icon {
    position: relative;
}

#cart-count {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    position: absolute;
    top: -10px;
    left: 18px;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    z-index: 999;
    font-family: maqueFont;
}