// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

@import "../assets/bootstrap/scss/bootstrap.scss";

// Then add additional custom code here

//Paleta de colores //


$paleta1: #736151;
$paleta2: #8C7E72;
$paleta3: #BFB0A3;
$paleta4: #D9CCC1;
$paleta5: #F2F2F2;
$paleta6: #D9D9D9

